Results/
fcai/
Inputs/
Outputs/
a.out
exact
cxtInputs/
inputsCreator.cpp
res.txt
server
serverScript.cpp
test.cxt
sshInfo
temp.cpp
SmallerContexts*/
StandardDS/
StandardDSCXT/
ResultsCalculator.cpp
getResults
hist.py
